{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card border-success">
            <div class="card-header bg-success text-white">
                <h4 class="mb-0">Секретная страница</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">Добро пожаловать, {{ current_user.username }}!</h5>
                <p class="card-text">
                    Эта страница доступна только авторизованным пользователям.
                    Вы успешно прошли аутентификацию.
                </p>
                <hr>
                <p><strong>ID пользователя:</strong> {{ current_user.id }}</p>
                <p><strong>Имя пользователя:</strong> {{ current_user.username }}</p>
                <a href="{{ url_for('logout') }}" class="btn btn-danger">Выйти из системы</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}