{% extends 'base.html' %}

{% block content %}
<h1 class="mt-5 text-center">Об авторе</h1>
<div class="row">
    <div class="col-md-4 mb-3">
        <img class="avatar" src="{{ url_for('static', filename='images/avatar.jpg') }}" alt="Author">
    </div>
    <div class="col-md-8 text-justify d-flex align-items-center">
        <p>
            Казарян Мария Арсеновна, студентка группы 241-372.<br>
            Этот проект реализован в рамках лабораторной работы №3 по веб-разработке.
            Используются Flask, Flask-Login, сессии, генерация контента с помощью Faker.
        </p>
    </div>
</div>
{% endblock %}